/*
Error: Undefined variable: "$background".
        on line 1 of /Applications/MAMP/htdocs/dacey/sass/bulma/sass/elements/tag.sass

1: $tag-background-color: $background !default
2: $tag-color: $text !default
3: $tag-radius: $radius !default
4: $tag-delete-margin: 1px !default
5: 
6: .tags

Backtrace:
/Applications/MAMP/htdocs/dacey/sass/bulma/sass/elements/tag.sass:1
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:471:in `visit_variable'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/root_node.rb:20:in `render'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/zkeller/.rvm/gems/ruby-2.1.5/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/zkeller/.rvm/gems/ruby-2.1.5/bin/compass:22:in `load'
/Users/zkeller/.rvm/gems/ruby-2.1.5/bin/compass:22:in `<main>'
/Users/zkeller/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `eval'
/Users/zkeller/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$background\".\A         on line 1 of /Applications/MAMP/htdocs/dacey/sass/bulma/sass/elements/tag.sass\A \A 1: $tag-background-color: $background !default\A 2: $tag-color: $text !default\A 3: $tag-radius: $radius !default\A 4: $tag-delete-margin: 1px !default\A 5: \A 6: .tags"; }
