.hero {
  background-image: url(img/hero.jpg);
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .container {
    padding: 0 1.25rem;

    img {
      width: 15em;

      @include mobile {
        width: 10em;
      }
    }

    .hero-subtitle {
      border-top: 28px solid $green;
      margin-top: 1rem;
      padding-top: 1rem;
    }
  }

}
